rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Temporarily open for testing (No Auth implemented yet)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
